<!-- For more settings use the AutoHTML plugin tab ... -->
<!DOCTYPE html>
<html>

<head>
  <!-- Links to include bootscrap and jquery  -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
  <link rel="stylesheet" type="text/css" href="About.cshtml.css">
  <link rel="stylesheet" href="aos-by-red.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<title>About</title>

<body>
  @await Html.PartialAsync("NavBar")

  <!-- About Us Page -->
  <div class="about-us-page">
    <!-- Footer section -->
    <div class="landing-page-button">
      <div class="footer">
        <div class="footer-bg">
        </div>
        <div class="copyright-2024-grape-aid">
          Copyright © 2024, GrapeAid.
        </div>
        <div class="ending-hunger-nourishing-communities">
          Ending hunger, nourishing communities.
        </div>
        <div class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore">
          <span>
            <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span">Based in<br />
            </span>
            <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2">
              <br />9 Woodlands Ave 9, Singapore 738964<br />Singapore, Singapore</span>
          </span>
        </div>
        <div class="contact-us-instagram-linkedin">
          <span>
            <span class="contact-us-instagram-linkedin-span">Contact us<br />
            </span>
            <span class="contact-us-instagram-linkedin-span2">

            </span>
            <div class="contact-us-instagram-linkedin-span3">
              <a href="https://www.youtube.com">Instagram</a><br />
              <a href="https://www.linkedin.com/in/chloe-sacil-419844210/">Linkedin</a>
            </div>
          </span>
        </div>
      </div>

      <!-- Third Paragraph -->
      <div class="accomplished" data-aos="fade-left">
        The project accomplished in redistributing food, boosting productivity, and promoting sustainable food<br />processes. For continuing success, recommendations include collaborations, user involvement, growth, data<br />analysis, and impact evaluation.
      </div>

      <!-- Middle Section -->
      <div class="trio" data-aos="fade-right">
        <div class="about-us">
          <div class="connect-hearts-bg">
          </div>
          <div class="middle-section">
            <span>
              <span class="user-registration">User Registration: <br />
              </span>
              <span class="surplus">The web application allows surplus food providers and food assistance organizations to<br />register and create profiles.<br />
                <br />
                <br />
              </span>
              <span class="food-listings">Food Listings: <br />
              </span>
              <span class="available">Surplus food providers can list the available food items, specifying quantity, quality, and<br />expiration dates. They can also include information about the sourcing practices and sustainability efforts<br />related to the food.<br />
                <br />
                <br />
              </span>
              <span class="food-request-system">Food Request System: <br />
              </span>
              <span class="assistance">Food assistance organizations and individuals in need can browse the available food<br />listings and request the items they require. They can also specify any dietary restrictions or preferences.</span>
            </span>
          </div>
        </div>
      </div>

      <!-- About Us Heading -->
      <div class="about-us-heading">
        <div class="about-us-text" data-aos="fade-in">
          About Us
        </div>

        <!-- First Paragraph -->
        <div class="aim" data-aos="fade-in">
          The web application project is aimed at promoting and facilitates sustainable food aid called “GrapeAid&quot;. <br />
          <br />Its goal is to address social responsibility and food sustainability by connecting food providers, such as restaurants, grocery stores, and farms, with organizations and individuals in need of food assistance. The project emphasizes sustainability by reducing food waste and promoting the use of locally sourced and environmentally friendly food options.
        </div>
      </div>
    </div>

    <!-- Script for Section Animations -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: true,
        mirror: true,
      });
    </script>

    <!-- Scripts to include bootscrap and jquery  -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>