.about-us-page, .about-us-page * {
    margin: auto;
    box-sizing: border-box;
    }
.about-us-page {
   background: #ffffff;
    width: 1440px;
    height: 2766px;
    position: relative;
    overflow: hidden;
   }

.footer {
   position: absolute;
    inset: 0;
   }

.footer-bg {
   background: rgba(140, 82, 255, 0.62);
    width: 1440px;
    height: 417px;
    position: absolute;
    left: -1px;
   top: 2349px;
   }

.copyright-2024-grape-aid {
   color: #000000;
    text-align: center;
    font: 400 24px 'Sora', sans-serif;
    position: absolute;
    left: 430px;
   top: 2709px;
    width: 579px;
    height: 19.79px;
   }

.ending-hunger-nourishing-communities {
   color: #ffffff;
    text-align: center;
    font: 600 36px 'Sora', sans-serif;
    position: absolute;
    left: 346px;
   top: 2415px;
   }

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore {
   color: #000000;
    text-align: center;
    position: absolute;
    left: 165px;
   top: 2512px;
   }

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span {
   
           color: #000000;
   
           font: 300 32px 'Sora', sans-serif;
   
           
           
       }

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2 {
   
           color: #000000;
   
           font: 300 24px 'Sora', sans-serif;
   
           
           
       }

.contact-us-instagram-linkedin {
   color: #000000;
    text-align: center;
    position: absolute;
    left: 939px;
   top: 2512px;
   }

.contact-us-instagram-linkedin-span {
   
           color: #000000;
   
           font: 300 32px 'Sora', sans-serif;
   
           
           
       }

.contact-us-instagram-linkedin-span2 {
   
           color: #000000;
   
           font: 300 24px 'Sora', sans-serif;
   
           
           
       }

.contact-us-instagram-linkedin-span3 {
   
           color: #000000;
   
           font: 300 24px 'Sora', sans-serif;
   
           
           text-decoration: underline;
   
       }

.the-project-accomplished-in-redistributing-food-boosting-productivity-and-promoting-sustainable-food-processes-for-continuing-success-recommendations-include-collaborations-user-involvement-growth-data-analysis-and-impact-evaluation {
   color: #000000;
    text-align: center;
    font: 400 32px/44px 'Inter', sans-serif;
    position: absolute;
    left: 260px;
   top: 1966px;
    width: 919px;
   }

.trio {
   position: absolute;
    inset: 0;
   }

.about-us {
   width: 1654px;
    height: 912px;
    position: static;
   }

.connect-hearts-bg {
   background: rgba(140, 82, 255, 0.62);
    border-radius: 45px;
    width: 1654px;
    height: 912px;
    position: absolute;
    left: -107px;
   top: 905px;
   }

.user-registration-the-web-application-allows-surplus-food-providers-and-food-assistance-organizations-to-register-and-create-profiles-food-listings-surplus-food-providers-can-list-the-available-food-items-specifying-quantity-quality-and-expiration-dates-they-can-also-include-information-about-the-sourcing-practices-and-sustainability-efforts-related-to-the-food-food-request-system-food-assistance-organizations-and-individuals-in-need-can-browse-the-available-food-listings-and-request-the-items-they-require-they-can-also-specify-any-dietary-restrictions-or-preferences {
   text-align: center;
    font: 300 32px/44px 'Inter', sans-serif;
    position: absolute;
    left: 213px;
   top: 943px;
    width: 1014px;
    height: 842px;
   }

.user-registration-the-web-application-allows-surplus-food-providers-and-food-assistance-organizations-to-register-and-create-profiles-food-listings-surplus-food-providers-can-list-the-available-food-items-specifying-quantity-quality-and-expiration-dates-they-can-also-include-information-about-the-sourcing-practices-and-sustainability-efforts-related-to-the-food-food-request-system-food-assistance-organizations-and-individuals-in-need-can-browse-the-available-food-listings-and-request-the-items-they-require-they-can-also-specify-any-dietary-restrictions-or-preferences-span {
   
           color: #ffffff;
   
           font: 300 32px/44px 'Inter', sans-serif;
   
           
           
       }

.user-registration-the-web-application-allows-surplus-food-providers-and-food-assistance-organizations-to-register-and-create-profiles-food-listings-surplus-food-providers-can-list-the-available-food-items-specifying-quantity-quality-and-expiration-dates-they-can-also-include-information-about-the-sourcing-practices-and-sustainability-efforts-related-to-the-food-food-request-system-food-assistance-organizations-and-individuals-in-need-can-browse-the-available-food-listings-and-request-the-items-they-require-they-can-also-specify-any-dietary-restrictions-or-preferences-span2 {
   
           color: #000000;
   
           font: 300 32px/44px 'Inter', sans-serif;
   
           
           
       }

.user-registration-the-web-application-allows-surplus-food-providers-and-food-assistance-organizations-to-register-and-create-profiles-food-listings-surplus-food-providers-can-list-the-available-food-items-specifying-quantity-quality-and-expiration-dates-they-can-also-include-information-about-the-sourcing-practices-and-sustainability-efforts-related-to-the-food-food-request-system-food-assistance-organizations-and-individuals-in-need-can-browse-the-available-food-listings-and-request-the-items-they-require-they-can-also-specify-any-dietary-restrictions-or-preferences-span3 {
   
           color: #ffffff;
   
           font: 300 32px/44px 'Inter', sans-serif;
   
           
           
       }

.user-registration-the-web-application-allows-surplus-food-providers-and-food-assistance-organizations-to-register-and-create-profiles-food-listings-surplus-food-providers-can-list-the-available-food-items-specifying-quantity-quality-and-expiration-dates-they-can-also-include-information-about-the-sourcing-practices-and-sustainability-efforts-related-to-the-food-food-request-system-food-assistance-organizations-and-individuals-in-need-can-browse-the-available-food-listings-and-request-the-items-they-require-they-can-also-specify-any-dietary-restrictions-or-preferences-span4 {
   
           color: #000000;
   
           font: 300 32px/44px 'Inter', sans-serif;
   
           
           
       }

.user-registration-the-web-application-allows-surplus-food-providers-and-food-assistance-organizations-to-register-and-create-profiles-food-listings-surplus-food-providers-can-list-the-available-food-items-specifying-quantity-quality-and-expiration-dates-they-can-also-include-information-about-the-sourcing-practices-and-sustainability-efforts-related-to-the-food-food-request-system-food-assistance-organizations-and-individuals-in-need-can-browse-the-available-food-listings-and-request-the-items-they-require-they-can-also-specify-any-dietary-restrictions-or-preferences-span5 {
   
           color: #ffffff;
   
           font: 300 32px/44px 'Inter', sans-serif;
   
           
           
       }

.user-registration-the-web-application-allows-surplus-food-providers-and-food-assistance-organizations-to-register-and-create-profiles-food-listings-surplus-food-providers-can-list-the-available-food-items-specifying-quantity-quality-and-expiration-dates-they-can-also-include-information-about-the-sourcing-practices-and-sustainability-efforts-related-to-the-food-food-request-system-food-assistance-organizations-and-individuals-in-need-can-browse-the-available-food-listings-and-request-the-items-they-require-they-can-also-specify-any-dietary-restrictions-or-preferences-span6 {
   
           color: #000000;
   
           font: 300 32px/44px 'Inter', sans-serif;
   
           
           
       }

.about-us2 {
   position: absolute;
    inset: 0;
   }

.about-us3 {
   color: #000000;
    text-align: center;
    font: 700 65px/59.5px 'Inter', sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 280px;
   top: calc(50% - 1141px);
    width: 926px;
    height: 77px;
    display: flex;
   align-items: center;
   justify-content: center}

.the-web-application-project-is-aimed-at-promoting-and-facilitates-sustainable-food-aid-called-grape-aid-its-goal-is-to-address-social-responsibility-and-food-sustainability-by-connecting-food-providers-such-as-restaurants-grocery-stores-and-farms-with-organizations-and-individuals-in-need-of-food-assistance-the-project-emphasizes-sustainability-by-reducing-food-waste-and-promoting-the-use-of-locally-sourced-and-environmentally-friendly-food-options {
   color: #000000;
    text-align: center;
    font: 300 32px/44px 'Inter', sans-serif;
    position: absolute;
    left: 229px;
   top: 372px;
    width: 1014px;
    height: 404px;
   }

