<div class="container">

    <div class="my-3">
        <h2>About Us</h2>
    </div>

    <p>
        The web application project is aimed at promoting and facilitates sustainable food aid called “GrapeAid". Its
        goal is to address social responsibility and food sustainability by connecting food providers, such as
        restaurants, grocery stores, and farms, with organizations and individuals in need of food assistance. The
        project emphasizes sustainability by reducing food waste and promoting the use of locally sourced and
        environmentally friendly food options.<br /><br />


        User Registration: The web application allows surplus food providers and food assistance organizations to
        register and create profiles.<br /><br />


        Food Listings: Surplus food providers can list the available food items, specifying quantity, quality, and
        expiration dates. They can also include information about the sourcing practices and sustainability efforts
        related to the food.<br /><br />


        Food Request System: Food assistance organizations and individuals in need can browse the available food
        listings and request the items they require. They can also specify any dietary restrictions or preferences.<br /><br />


        The project accomplished in redistributing food, boosting productivity, and promoting sustainable food
        processes. For continuing success, recommendations include collaborations, user involvement, growth, data
        analysis, and impact evaluation.
    </p>

</div>