

  /* Section Container Styles */
  .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 100%;
  }

  /* Food Image Styles */
  .food-image {
    width: 50%;
    padding: 1rem;
  }

  .food-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Food Description Styles */
  .food-description {
    width: 50%;
    padding: 1rem;
    font-size: 18px;
    line-height: 1.8;
    border-left: 2px solid #FEE576;
    padding-left: 1.5rem;
  }

  /* Read Button Styles */
  .read {
    display: inline-block;
    color: white;
    background-color: #FEE576;
    box-shadow: inset 0px 20px 31px 0px rgba(140, 82, 255, 0.62);
    border-radius: 10px;
    text-decoration: none;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    
  }

  .read:hover {
    background-color: #17c470;
  }

  /* Customize headings for better hierarchy */
  h1, h2, h3, h4, h5, h6, h7 {
    font-weight: 600;
    color: #2a2a2a;
  }

  /* Add some spacing for paragraphs */
  p {
    margin-bottom: 1rem;
  }

  /* Center align the section titles */
  .section-title {
    text-align: center;
    margin-bottom: 2rem;
  }