<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
  <link rel="stylesheet" type="text/css" href="Connections.cshtml.css">
  <link rel="stylesheet" href="Connectionguide.cshtml.css" />
  <link rel="stylesheet" href="aos-by-red.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <script src="path/to/your/javascript/file.js"></script>
</head>

<body>
  <div class="desktop">
    <div class="div">
      <div class="navbar">
        <div class="text-wrapper">YJ</div>
        <div class="navbar-2">
          <div class="text-wrapper-2"><a href="#">Home</a></div>
          <div class="text-wrapper-3"><a href="#">About</a></div>
          <div class="text-wrapper-3"><a href="#">Skill</a></div>
          <div class="text-wrapper-3"><a href="#">Project</a></div>
          <div class="text-wrapper-3"><a href="#">Contact</a></div>
        </div>
      </div>
      <div class="frame">
        <header class="header">
          <div class="group">
            <div class="text-wrapper-4">Hi Everyone, I am</div>
            <div class="text-wrapper-5">Yong Yung Jian</div>
            <p class="p">
              I am a student from Republic Polytechnic studying for Diploma In Information Technology. I am very keen in learning different kinds of technology skills that can be helpful in my future which can provide benefits for many people who are using it. I hope to learn more skills like programming, Data Center and Cloud Management, Internetworking, Critical Thinking and Problem Solving and others. I hope I can adopt these skills in my future career. My hobby is cycling and playing badminton with my friends. I enjoy reading books related to information technology like knowledge about data centres to improve on my basic knowledge. During my leisure time, I would play some games and watch movies as well as do some revision.
            </p>
          </div>
          <div class="overlap-group">
            <a href="path/to/your/resume.pdf" target="_blank" class="download-from-the">
              <img class="download-from-the" src="img/download-from-the-cloud.png" alt="Download Icon" />

            </a>
            <div class="text-wrapper-6">Download CV</div>
          </div>

          <div class="overlap-wrapper">
            <a href="#portfolio-section">
              <!-- Replace #portfolio-section with the actual ID of your portfolio section -->

              <img class="explore-more" src="img/explore-more.png" alt="Explore Icon" />
            </a>
          </div>

          <div class="overlap-2">
            <div class="rectangle"></div>

          </div>
        </header>
        <div class="about">
          <div class="code-typing-amico">
            <div class="overlap-3">

              <div class="freepik-screen">
                <div class="overlap-group-2">

                  @*<div class="text-wrapper-7">/</div>*@

                </div>
              </div>
            </div>
          </div>
          <div class="group-2">
            <div class="text-wrapper-8">About</div>
            <p class="text-wrapper-9">
              From Republic Polytechnic
            </p>
            <div class="text-wrapper-10">About Me?</div>
          </div>
        </div>
        <div class="skills">
          <div class="text-wrapper-11">Skills</div>
          <p class="text-wrapper-12">What I am capable of?</p>
          <div class="frame-2">
            <img src="~/images/skills/html icon.png" alt="HTML" width="150" height="150" />
            <img src="~/images/skills/cisco icon.png" alt="CISCO" width="150" height="150" />
            <img src="~/images/skills/java icon.jpg" alt="JAVA" width="150" height="150" />
            <img src="~/images/skills/linux logo.png" alt="LINUX" width="150" height="150" />
            <img src="~/images/skills/mysql logo.png" alt="MYSQL" width="150" height="150" />
            <img src="~/images/skills/python icon.jpg" alt="PYTHON" width="150" height="150" />
            <img src="~/images/skills/windows icon.jpg" alt="WINDOWS" width="150" height="150" />

          </div>
        </div>
        <div class="projects">
          <div class="overlap-4">
            <div class="text-wrapper-13">Projects</div>
            <div class="text-wrapper-14">What I have made?</div>
            <div class="frame-3">
              <div class="div-wrapper">
                <div class="overlap-group-3">
                  <div class="rectangle-2"></div>
                  <img class="image" src="img/image-1-5.png" />
                  <div class="text-wrapper-15">Portfolio Website Design</div>
                  <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                  <div class="text-wrapper-17">Figma</div>
                </div>
              </div>
              <div class="group-3">
                <div class="overlap-group-3">
                  <div class="rectangle-2"></div>
                  <img class="image" src="img/image-1-2.png" />
                  <div class="text-wrapper-15">LitterCycle Exchange</div>
                  <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                  <div class="text-wrapper-18">Figma</div>
                  <div class="text-wrapper-19">Live View</div>
                  <div class="text-wrapper-20">Github</div>
                </div>
              </div>
              <div class="group-4">
                <div class="overlap-group-3">
                  <div class="rectangle-2"></div>
                  <img class="image" src="img/image.png" />
                  <div class="text-wrapper-15">Edubix</div>
                  <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                  <div class="text-wrapper-19">Live View</div>
                  <div class="text-wrapper-20">Github</div>
                </div>
              </div>
            </div>
            <div class="frame-4">
              <div class="div-wrapper">
                <div class="overlap-group-3">
                  <div class="rectangle-2"></div>
                  <img class="image" src="img/image-1-3.png" />
                  <div class="text-wrapper-15">PPDB SMK Telesandi Bekasi</div>
                  <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                  <div class="text-wrapper-17">Live view</div>
                </div>
              </div>
              <div class="div-wrapper">
                <div class="overlap-group-3">
                  <div class="rectangle-2"></div>
                  <img class="image" src="img/image-1-4.png" />
                  <div class="text-wrapper-15">PPDB SMK Telesandi Bekasi</div>
                  <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                  <div class="text-wrapper-17">Live view</div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="text-wrapper-21">yyj@gmail.com</div>
        <img src="~/images/skills/LinkedIn_icon.png" alt="LinkedIn Icon" width="50" height="50"/>
        <a href="https://www.linkedin.com/yourprofile" target="_blank">LinkedIn</a>

        <img src="~/images/skills/GitHub logo.png" alt="GitHub Icon" width="50" height="50"/>
        <a href="https://github.com/yourusername" target="_blank">GitHub</a>

        <img src="~/images/skills/Instagram logo.png" alt="Instagram Icon" width="50" height="50"/>
        <a href="https://www.instagram.com/yourprofile" target="_blank">Instagram</a>

        <p class="copyright">Copyright © 2023. Develop &amp; Designed by Yong Yung Jian</p>
        <div class="text-wrapper-22">Get in touch</div>
        <div class="text-wrapper-23">Contacts</div>
      </footer>
    </div>
  </div>
</body>

</html>
