<!DOCTYPE html>
<html>

<head>

  <title>Connections</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
  <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true">
  <link rel="stylesheet" href="Consnections.cshtml.css">
  <link rel="stylesheet" href="style.css"> <!-- Custom styles -->
</head>

<body>
  <!-- Navigation Bar (Assuming this is the NavBar partial view) -->
  @await Html.PartialAsync("NavBar")

  <!-- Main Content -->
  <div class="container">
    <div class="sign-up">
      <!-- Already have an account -->
<div class="already-have-account">
  <div class="welcome-text">
    Welcome to GrapeAid.
  </div>
  <div class="get-started-text">
    Get started with us
  </div>
  <div class="registration-form">
    <div class="form-group">
      <label for="firstName">Username:</label>
      <input type="text" id="UsernameName" name="userName" class="form-control" />
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" id="email" name="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>
    <div class="form-group">
      <label for="repeatPassword">Repeat password:</label>
      <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" />
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary">Sign Up</button>
      <button type="button" class="btn btn-secondary">Log In</button>
    </div>
  </div>
</div>

    </div>
  </div>

  <!-- Footer section -->
  <div class="footer">
    <div class="footer-bg">
    </div>
    <div class="copyright-2024-grape-aid">
      Copyright © 2024, GrapeAid.
    </div>
    <div class="ending-hunger-nourishing-communities">
      Ending hunger, nourishing communities.
    </div>
    <div class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore">
      <span>
        <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span">Based in<br />
        </span>
        <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2">
          <br />9 Woodlands Ave 9, Singapore 738964<br />Singapore, Singapore</span>
      </span>
    </div>
    <div class="contact-us-instagram-linkedin">
      <span>
        <span class="contact-us-instagram-linkedin-span">Contact us<br />
        </span>
        <span class="contact-us-instagram-linkedin-span2">

        </span>
        <div class="contact-us-instagram-linkedin-span3">
          <a href="https://www.youtube.com">Instagram</a><br />
          <a href="https://www.linkedin.com/in/chloe-sacil-419844210/">Linkedin</a>
        </div>
      </span>
    </div>
  </div>

  <!-- Scripts -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>