<!DOCTYPE html>
<html>

<head>

  <title>Connections</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
  <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true">
  <link rel="stylesheet" href="Consnections.cshtml.css">
  <link rel="stylesheet" href="style.css"> <!-- Custom styles -->
</head>

<body>
  <!-- Navigation Bar (Assuming this is the NavBar partial view) -->
  @await Html.PartialAsync("NavBar")

  <!-- Main Content -->
  <div class="container">
    <div class="sign-up">


      <!-- table-donation -->
            <div class="table-background-donation">  
            <div class="welcome-text">
              Welcome to GrapeAid.
            </div>
            <div class="get-started-text">
              Get started with us
            </div>
            <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Donation Title</th>
              <th scope="col">Donation Description</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>fdt1</td>
              <td>Request from Old Folks Home</td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>fdt2</td>
              <td>Charity</td>
              
            </tr>
            
          </tbody>
          </table>

          </div>
          <!-- table-request -->
            <div class="table-background-request">  
            
            <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Request Title</th>
              <th scope="col">Request Description</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>frt1</td>
              <td>Request from Old Folks Home</td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>frt2</td>
              <td>Charity</td>
              
            </tr>
            
          </tbody>
          </table>      
        </div>
      </div>

    </div>
  </div>

  <!-- Footer section -->
  <div class="footer">
    <div class="footer-bg">
      </div>
    <div class="copyright-2024-grape-aid">
    Copyright © 2024, GrapeAid.
    </div>
    <div class="ending-hunger-nourishing-communities">
      Ending hunger, nourishing communities.
    </div>
    <div class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore">
      <span>
        <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span">Based in<br />
        </span>
        <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2">
          <br />9 Woodlands Ave 9, Singapore 738964<br />Singapore, Singapore</span>
      </span>
    </div>
    <div class="contact-us-instagram-linkedin">
      <span>
        <span class="contact-us-instagram-linkedin-span">Contact us<br />
        </span>
        <span class="contact-us-instagram-linkedin-span2">

        </span>
        <div class="contact-us-instagram-linkedin-span3">
          <a href="https://www.instagram.com">Instagram</a><br />
          <a href="https://www.linkedin.com/in/chloe-sacil-419844210/">Linkedin</a>
        </div>
      </span>
    </div>
  </div>

  <!-- Scripts -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>