@{
    ViewData["Title"] = "Home Page";
}

<div class="landing-page">
  <div class="group-1">
    <div class="learn-more-button">
      <div class="button"></div>

      <div class="learn-more">Learn More</div>
    </div>

    <div class="giving-you-great-aid">
      <span
        ><span class="giving-you-great-aid-span">Giving you </span
        ><span class="giving-you-great-aid-span2">great aid.</span></span
      >
    </div>

    <div
      class="a-centralized-safe-space-to-bridge-the-gap-between-surplus-food-resources-and-those-in-need-be-part-of-the-community"
    >
      A centralized, safe space to bridge the gap between surplus food resources
      and those in need.<br /><br />Be part of the community.<br />
    </div>
  </div>

  <div class="group-2">
    <div class="thin-outline"></div>

    <img class="image-1" src="image-1.png" />
  </div>

  <div class="rectangle-7"></div>

  <div class="rectangle-10"></div>

  <img class="rectangle-4" src="rectangle-4.png" />

  <img class="rectangle-5" src="rectangle-5.png" />

  <img class="rectangle-6" src="rectangle-6.png" />

  <div class="connecting-hearts-sharing-meals">
    Connecting Hearts, Sharing Meals
  </div>

  <div
    class="lorem-ipsum-dolor-sit-amet-consectetur-iaculis-diam-augue-a-adipiscing-non-aliquet-leo-semper-lacus-fringilla-consectetur-cras-ac-ullamcorper-ut-risus-nunc-diam-accumsan-feugiat-tristique-diam-consectetur-aliquam-vitae-suspendisse-vel-leo-nec-quisque-senectus-laoreet-id-pulvinar-id-vulputate-montes-consectetur-diam-non-aliquam-nunc-maecenas-non-molestie-pretium-amet-id-dictum-vitae-nam-vel-sit-rhoncus-massa-velit-ut-amet-massa-morbi-eget"
  >
    Lorem ipsum dolor sit amet consectetur. Iaculis diam augue a adipiscing non
    aliquet. Leo semper lacus fringilla consectetur cras ac ullamcorper ut.
    Risus nunc diam accumsan feugiat. Tristique diam consectetur aliquam vitae
    suspendisse vel leo. Nec quisque senectus laoreet id pulvinar id vulputate.
    Montes consectetur diam non aliquam nunc maecenas non. Molestie pretium amet
    id dictum vitae nam vel sit. Rhoncus massa velit ut amet massa morbi eget.
  </div>

  <div
    class="we-are-a-vibrant-hub-that-brings-together-food-aid-organizations-generous-food-providers-and-individuals-in-need-creating-a-powerful-network-dedicated-to-fighting-hunger-and-nourishing-communities-our-website-serves-as-a-bridge-seamlessly-connecting-those-in-need-with-those-who-can-help"
  >
    We are a vibrant hub that brings together food aid organizations, generous
    food providers, and individuals in need, creating a powerful network
    dedicated to fighting hunger and nourishing communities.<br /><br />Our
    website serves as a bridge, seamlessly connecting those in need with those
    who can help.
  </div>

  <div class="rectangle-3"></div>

  <div class="rectangle-12"></div>

  <div class="heading">
    <div class="get-in-touch">Get in touch.</div>
  </div>

  <div class="rectangle-11"></div>

  <img class="image-2" src="image-2.png" />
</div>
