.landing-page-button,
.landing-page-button * {
  margin: auto;
  box-sizing: border-box;
  top: 20px;
}
.landing-page-button {
  background: #ffffff;
  width: 1440px;
  height: 3069px;
  position: relative;
  overflow: hidden;
}

.footer {
  position: absolute;
  inset: 0;
}

.footer-bg {
  background: rgba(140, 82, 255, 0.62);
  border-radius: 45px;
  width: 1654px;
  height: 543px;
  position: absolute;
  left: -81px;
  top: 2652px;
}

.copyright-2024-grape-aid {
  color: #000000;
  text-align: center;
  font: 400 24px "Sora", sans-serif;
  position: absolute;
  left: 433px;
  top: 3008.48px;
  width: 579px;
  height: 20.06px;
}

.ending-hunger-nourishing-communities {
  color: #ffffff;
  text-align: center;
  font: 600 36px "Sora", sans-serif;
  position: absolute;
  left: 373px;
  top: 2718px;
}

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore {
  color: #000000;
  text-align: center;
  position: absolute;
  left: 192px;
  top: 2815px;
}

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span {
  color: #000000;

  font: 300 32px "Sora", sans-serif;
}

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2 {
  color: #000000;

  font: 300 24px "Sora", sans-serif;
}

.contact-us-instagram-linkedin {
  color: #000000;
  text-align: center;
  position: absolute;
  left: 966px;
  top: 2815px;
}

.contact-us-instagram-linkedin-span {
  color: #000000;

  font: 300 32px "Sora", sans-serif;
}

.contact-us-instagram-linkedin-span2 {
  color: #000000;

  font: 300 24px "Sora", sans-serif;
}

.contact-us-instagram-linkedin-span3 {
  color: #000000;

  font: 300 24px "Sora", sans-serif;

  text-decoration: underline;
}

.let-food-insecurity-rest {
  position: absolute;
  inset: 0;
}

.let-food-insecurity-rest2 {
  color: #000000;
  text-align: center;
  font: 700 65px/59.5px "Inter", sans-serif;
  position: absolute;
  left: 259px;
  top: calc(50% - -221.5px);
  width: 926px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.we-implement-efficient-food-distribution-networks-to-minimize-waste-and-maximize-impact-innovative-food-rescue-programs-redirect-surplus-meals-to-those-in-need-while-educational-resources-empower-communities-to-cultivate-sustainable-food-sources-we-believe-that-everyone-deserves-access-to-wholesome-meals-and-together-we-are-sowing-the-seeds-of-a-hunger-free-world-join-the-transformational-journey-today-and-help-put-food-insecurity-to-rest-for-good {
  color: #000000;
  text-align: center;
  font: 300 32px/44px "Inter", sans-serif;
  position: absolute;
  left: 225px;
  top: 1990px;
  width: 994px;
  height: 439px;
}

.connecting-hearts {
  position: absolute;
  inset: 0;
}

.connect-hearts-bg {
  background: rgba(140, 82, 255, 0.62);
  border-radius: 45px;
  width: 1654px;
  height: 758px;
  position: absolute;
  left: -36px;
  top: 849px;
}

.we-are-a-vibrant-hub-that-brings-together-food-aid-organizations-generous-food-providers-and-individuals-in-need-creating-a-powerful-network-dedicated-to-fighting-hunger-and-nourishing-communities-our-website-serves-as-a-bridge-seamlessly-connecting-those-in-need-with-those-who-can-help {
  color: #000000;
  text-align: center;
  font: 300 32px/44px "Inter", sans-serif;
  position: absolute;
  left: 409px;
  top: 1087px;
  width: 626px;
  height: 419px;
}

.connecting-hearts-sharing-meals {
  color: #ffffff;
  text-align: center;
  font: 600 64px/62.5px "Inter", sans-serif;
  position: absolute;
  left: 413px;
  top: 922px;
  width: 619px;
  height: 287px;
}

.giving-you-great-aid {
  position: absolute;
  inset: 0;
}

.learn-more-button {
  width: 173.08px;
  height: 53.91px;
  position: static;
}

.button {
  background: #8c52ff;
  border-radius: 74px;
  width: 173.08px;
  height: 53.91px;
  position: absolute;
  left: calc(50% - -88.08px);
  top: calc(50% - 921.59px);
  box-shadow: inset 0px 20px 31px 0px rgba(140, 82, 255, 0.62);
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}

.learn-more {
  color: #ffffff;
  text-align: center;
  font: 300 24px/35px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 68.57px);
  top: calc(50% - 964.72px);
  width: 140.21px;
  height: 31.45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.giving-you-great-aid2 {
  text-align: center;
  font: 700 65px/20px "Inter", sans-serif;
  position: absolute;
  left: 359px;
  top: calc(50% - 1312.5px);
  width: 727px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.giving-you-great-aid-2-span {
  color: #000000;

  font: 700 65px/20px "Inter", sans-serif;
}

.giving-you-great-aid-2-span2 {
  color: #17c470;

  font: 700 65px/20px "Inter", sans-serif;
}

.a-centralized-safe-space-to-bridge-the-gap-between-surplus-food-resources-and-those-in-need-be-part-of-the-community {
  color: #000000;
  text-align: center;
  font: 300 30px/35px "Inter", sans-serif;
  position: absolute;
  left: 382px;
  top: calc(50% - 1205.5px);
  width: 681px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}