<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
  <link rel="stylesheet" type="text/css" href="Index.cshtml.css">
</head>
<body>
  @await Html.PartialAsync("NavBar");

  <!-- For more settings use the AutoHTML plugin tab ... -->
  <div class="landing-page-button">
    <!-- ... Content goes here ... -->
  </div>

  <div class="let-food-insecurity-rest">
    <!-- ... Content goes here ... -->
  </div>

  <div class="connecting-hearts">
    <!-- ... Content goes here ... -->
  </div>

  <div class="giving-you-great-aid">
    <!-- ... Content goes here ... -->
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
