<!DOCTYPE html>
<html>
<style>
  /* CSS to style the divs and arrange them side by side */
  .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .food-image {
    width: 50%;
    padding: 10px;
  }

  .food-image img {
    max-width: 100%;
    height: auto;
  }

  .food-description {
    width: 50%;
    padding: 10px;
    font-size: 16px;
  }

  /* Additional styles for the "Read" buttons */
  .read,
  .read2 {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
</style>
  <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="Login.cshtml.css">
  </head>
  <title>Learning Hub</title>
  <body>
  @await Html.PartialAsync("NavBar");

<!-- First Section: Chinese Tofu -->
<div class="section-container">
  <div class="food-image">
    <!-- Image and class name updated -->
    <img class="chinese-tofu-img" src="~/images/chinese_tofu.jpg" width="500" height="500"/>
  </div>

  <div class="food-description">
    <!-- Content moved to the description div -->
    <div class="singaporean-chinese-cuisine">
      Singaporean Chinese cuisine is a delectable fusion of traditional Chinese
      flavors with influences from Malay, Indian, and Indonesian cuisines,
      resulting in a vibrant and diverse culinary experience.
      <div><a href="URL">Click here to learn more</a></div>
    </div>
  </div>
</div>

<!-- Second Section: Malay Food -->
<div class="section-container">
  <div class="food-image">
    <!-- Image and class name updated -->
    <img class="malay-food-img" src="~/images/malay_food.jpg" width="500" height="500"/>
  </div>

  <div class="food-description">
    <!-- Content moved to the description div -->
    <div class="malay-cuisine">
      Get ready for a tantalizing journey through the vibrant flavors and
      captivating aromas of Singaporean Malay cuisine! Step into a world where
      spices dance, and bold flavors ignite your palate. Welcome to a culinary
      adventure that will leave you craving for more.
    </div>

    <div class="malay-food">Malay cuisine</div>
    <div><a href="URL">Click here to learn more</a></div>
  </div>
</div>

<!-- Third Section: Food Waste -->
<div class="section-container">
  <div class="food-image">
    <!-- Image and class name updated -->
    <img class="food-waste" src="~/images/fooddump.jpg" width="500" height="500"/>
  </div>

  <div class="food-description">
    <!-- Content moved to the description div -->
    <p>
      Discover the hidden challenge of food waste in vibrant Singapore. Become a
      volunteer to make a meaningful impact by rescuing surplus food and
      redistributing it to those in need, fostering sustainability and
      compassion in our community. Join us in building a more equitable and
      resilient nation, one meal at a time.
    </p>
    <p>Food Wastes in Singapore</p>
    <div><a href="URL">Click here to learn more</a></div>
  </div>
</div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>