<!-- For more settings use the AutoHTML plugin tab ... -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="Login.cshtml.css">
  </head>
  <body>
  @await Html.PartialAsync("NavBar");

<!-- For more settings use the AutoHTML plugin tab ... --> 
 <div class="login-page" >
  	<div class="heading" >
    		<div class="log-in-to-grape-aid" >
Log In to GrapeAid 
</div>
    		<div class="welcome-back" >
Welcome back. 
</div>
  	</div>
  	<div class="form" >
    		<div class="email-address" >
Email Address 
</div>
    		<div class="password" >
Password 
</div>
    		<div class="rectangle-10" >
    		</div>
    		<div class="rectangle-11" >
    		</div>
  	</div>
  	<div class="sign-up-button" >
    		<div class="button" >
    		</div>
    		<div class="log-in" >
Log In 
</div>
  	</div>
  	<div class="thin-outline" >
  	</div>
  	<div class="don-t-have-an-account" >
Don’t have an account? 
</div>
  	<div class="log-in-button" >
    		<div class="button2" >
    		</div>
    		<div class="sign-up" >
Sign Up 
</div>
  	</div>
  	<div class="line-1" >
  	</div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>

