<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="Login.cshtml.css">
  </head>
  <body>
  @await Html.PartialAsync("NavBar");

<div class="desktop-1">
  <div class="chinese-tofu-frame">
    <img class="chinese_tofu" src="chinese_tofu.png" />

    <div
      class="singaporean-chinese-cuisine-is-a-delectable-fusion-of-traditional-chinese-flavors-with-influences-from-malay-indian-and-indonesian-cuisines-resulting-in-a-vibrant-and-diverse-culinary-experience"
    >
      Singaporean Chinese cuisine is a delectable fusion of traditional Chinese
      flavors with influences from Malay, Indian, and Indonesian cuisines,
      resulting in a vibrant and diverse culinary experience.
    </div>

    <div class="chinese-cuisine">Chinese cuisine</div>

    <div class="group-15">
      <div class="rectangle-21"></div>

      <div class="group-17">
        <div class="read">Read</div>

        <svg
          class="vector-1"
          width="7"
          height="18"
          viewBox="0 0 7 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.596191 0.404053L6.56927 8.75514L0.596191 17.1062"
            stroke="white"
            stroke-width="2"
            stroke-linecap="square"
          />
        </svg>
      </div>
    </div>

    <div class="categories">Categories</div>
  </div>

  <div class="malay-food">
    <img class="malay_food" src="~/images/malay_food.jpg" />

    <div
      class="get-ready-for-a-tantalizing-journey-through-the-vibrant-flavors-and-captivating-aromas-of-singaporean-malay-cuisine-step-into-a-world-where-spices-dance-and-bold-flavors-ignite-your-palate-welcome-to-a-culinary-adventure-that-will-leave-you-craving-for-more"
    >
      Get ready for a tantalizing journey through the vibrant flavors and
      captivating aromas of Singaporean Malay cuisine! Step into a world where
      spices dance, and bold flavors ignite your palate. Welcome to a culinary
      adventure that will leave you craving for more.
    </div>

    <div class="malay-cuisine">Malay cuisine</div>

    <div class="group-15">
      <div class="rectangle-212"></div>

      <div class="group-17">
        <div class="read2">Read</div>

        <svg
          class="vector-12"
          width="7"
          height="18"
          viewBox="0 0 7 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.596252 0.404053L6.56934 8.75514L0.596252 17.1062"
            stroke="white"
            stroke-width="2"
            stroke-linecap="square"
          />
        </svg>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <img
      class="image-2023-06-04-194604449-removebg-preview-1"
      src="image-2023-06-04-194604449-removebg-preview-1.png"
    />

    <div class="button-panel">
      <div class="button">
        <div class="button-header">home</div>
      </div>

      <div class="button2">
        <div class="button-header">CONNECTIONS</div>
      </div>

      <div class="button2">
        <div class="button-header">learning hub</div>
      </div>

      <div class="button2">
        <div class="button-header">ABOUT</div>
      </div>

      <div class="button3">
        <div class="button-header2">log in</div>
      </div>
    </div>
  </div>

  <div class="food-waste">
    <div class="group-15">
      <div class="rectangle-213"></div>

      <div class="group-17">
        <div class="read3">Read</div>

        <svg
          class="vector-13"
          width="7"
          height="18"
          viewBox="0 0 7 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.596191 0.404083L6.56927 8.75517L0.596191 17.1063"
            stroke="white"
            stroke-width="2"
            stroke-linecap="square"
          />
        </svg>
      </div>
    </div>

    <div
      class="discover-the-hidden-challenge-of-food-waste-in-vibrant-singapore-become-a-volunteer-to-make-a-meaningful-impact-by-rescuing-surplus-food-and-redistributing-it-to-those-in-need-fostering-sustainability-and-compassion-in-our-community-join-us-in-building-a-more-equitable-and-resilient-nation-one-meal-at-a-time"
    >
      Discover the hidden challenge of food waste in vibrant Singapore. Become a
      volunteer to make a meaningful impact by rescuing surplus food and
      redistributing it to those in need, fostering sustainability and
      compassion in our community. Join us in building a more equitable and
      resilient nation, one meal at a time.
    </div>

    <div class="food-wastes-in-singapore">Food Wastes in singapore</div>

    <img class="fooddump.jpg" src="fooddump.jpg" />
  </div>
</div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>