<!-- For more settings use the AutoHTML plugin tab ... -->

<!DOCTYPE html>
@model Login
<html>

<head>
  <!-- Links to include bootscrap and jquery  -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
  <link rel="stylesheet" type="text/css" href="Login.cshtml.css">
</head>

<body>
  @await Html.PartialAsync("NavBar")

  <!-- Heading section -->
  <div class="login-page">
    <div class="footer-bg-top">
    </div>
    <div class="footer-bg">
      </div>
    <div class="heading">
      <div class="log-in-to-grape-aid">
        <br />Work Experience: <br />
        <div class="first-job-experience">
          <br /><br />1.
        </div>
        <div class="second-job-experience">
          2.
        </div>
        <div class="third-job-experience">
          3.
        </div>
        <div class="forth-job-experience">
          4.
        </div>
      </div>

    <!-- Footer section -->
    <div class="footer">
      
      <div class="footer-bg-bottom">
      </div>
      <div class="copyright-2024-grape-aid">
        Copyright © 2024, GrapeAid.
      </div>
      <div class="ending-hunger-nourishing-communities">
        Thanks for viewing
      </div>
      <div class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore">
        <span>
          <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span">Based in<br />
          </span>
          <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2">
            <br />9 Woodlands Ave 9, Singapore 738964<br />Singapore, Singapore</span>
        </span>
      </div>
      <div class="contact-us-instagram-linkedin">
        <span>
          <span class="contact-us-instagram-linkedin-span">Contact us<br />
          </span>
          <span class="contact-us-instagram-linkedin-span2">
            <br />
          </span>
          <div class="contact-us-instagram-linkedin-span3">
            <a href="https://www.instagram.com">Instagram</a><br />
            <a href="https://www.linkedin.com/in/chloe-sacil-419844210/">Linkedin</a>
          </div>
        </span>

      </div>

    </div>

    <!-- Scripts to include bootscrap and jquery  -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>

</html>