<!DOCTYPE html>
<html>
  <body>
<nav>
  <div class="nav-container">
    <a class="logo" href="~/index.html">
      <img src="~/images/grapeaidlogo.jpg" alt="GrapeAid Logo" />
    </a>
    <ul class="nav-bar">
      <li><a href="~/index.html">Home</a></li>
      <li><a href="~/connections.html">Connections</a></li>
      <li><a href="~/learning_hub.html">Learning Hub</a></li>
      <li><a href="~/about.html">About</a></li>
      <li><a href="~/Home/Login.cshtml">Log In</a></li>
    </ul>
  </div>
</nav>

  </body>
</html>

