<!DOCTYPE html>
<html>
  <body>
	<nav class="nav-bar">
	  <a href="/Home/Index" class="Logo">
		<img class="grapeaidlogo" src="~/images/grapeaidlogo.jpg" />
	  </a>
	  <div class="button-panel">
		<div class="button">
		  <a href="/Home/Index" class="button-header">Home</a>
		</div>
		<div class="button">
		  <a href="connections.html" class="button-header">Connections</a>
		</div>
		<div class="button">
		  <a href="/Home/LearningHub" class="button-header">Learning Hub</a>
		</div>
		<div class="button">
		  <a href="" class="button-header">About</a>
		</div>
		<div class="button3">
		  <a href="/Home/Login" class="button-header2">Log In</a>
		</div>
	  </div>
	</nav>
  </body>
</html>

