.nav-bar,
.nav-bar * {
  margin: auto;
  box-sizing: border-box;
}

/* Style the navbar container */
.nav-bar {
  background: #ffffff;
  width: 1440px;
  height: 131px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* Style the logo */
.Logo {
  width: 126px;
  height: 126px;
  position: absolute;
  left: 52px;
  top: 5px;
}

/* Style the button panel */
.button-panel {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: center;
  width: 702px;
  height: 36px;
  position: absolute;
  left: 655px;
  top: 53px;
}

/* Style common button styles */
.button {
  border-radius: 4px;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.nav-bar ul li {
  display: block;
}

.nav-bar ul li a:hover{
  background-color: #8c52ff;
  background-size: contain;
  border-radius: 5px;
}

.dropdown {
  color: var(--font-color-primary, #3c3a36);
  text-indent: -21px;
  font: 500 14px/20px "Inter", sans-serif;
  text-transform: uppercase;
  width: 105px;
  display: none;
  position: absolute;
  background-color: #8c52ff;
  border-radius: 8px;
}

.dropdown a:hover {
  color: var(--font-color-primary, #ffffff);
}

.nav-bar li:hover > ul {
  color: #8c5ff;
  display: block;
  position: absolute;
}

/* Style button text */
.button-header {
  color: var(--font-color-primary, #3c3a36);
  text-align: left;
  font: 500 14px/20px "Inter", sans-serif;
  text-transform: uppercase;
  position: relative;
}

/* Specific style for the login button */
.button3 {
  background: #8c52ff;
  border-radius: 5px;
}

/* Style login button text */
.button-header2 {
  color: #ffffff;
  text-align: left;
  font: 500 14px/20px "Inter", sans-serif; /* Updated font-family to "Inter" */
  text-transform: uppercase;
  position: relative;
}

