<!DOCTYPE html>
<html>
  <body>

	  <!-- Navigation Bar section  -->
	<nav class="nav-bar">
	  <a href="/Home/Index" class="Logo">
		<img class="grapeaidlogo" src="~/images/grapeaidlogo.jpg" />   <!-- Grape Aid Logo image showcase  -->
	  </a>
	  <div class="button-panel">
		<div class="button">
		  <a href="/Home/Index" class="button-header">Home</a>   <!-- Button to redirect to Home page  -->
		</div>
		<div class="button">
		  <a href="/Home/Connections" class="button-header">Connections</a> <!-- Button to redirect to Connections page  -->
		</div>
		<div class="button">
		  <a href="/Home/LearningHub" class="button-header">Learning Hub</a> <!-- Button to redirect to Learning Hub page  -->
		</div>
		<div class="button">
		  <a href="/Home/About" class="button-header">About</a> <!-- Button to redirect to About page  -->
		</div>
		<div class="button3">
		  <a href="/Home/Login" class="button-header2">Log In</a> <!-- Button to redirect to Log in page  -->
		</div>
	  </div>
	</nav>
  </body>
</html>

