<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="desktop">
            <div class="div">
                <div class="navbar">
                    <div class="text-wrapper">Rizfan</div>
                    <div class="navbar-2">
                        <div class="text-wrapper-2">Home</div>
                        <div class="text-wrapper-3">About</div>
                        <div class="text-wrapper-3">Skill</div>
                        <div class="text-wrapper-3">Project</div>
                        <div class="text-wrapper-3">Contact</div>
                    </div>
                </div>
                <div class="frame">
                    <header class="header">
                        <div class="group">
                            <div class="text-wrapper-4">Hi Everyone, I am</div>
                            <div class="text-wrapper-5">Rizfan Herlaya</div>
                            <p class="p">
                                Lorem ipsum dolor sit amet consectetur. Vitae maecenas pellentesque tellus tempus purus integer nisi
                                cras fermentum.
                            </p>
                        </div>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group">
                                <img class="download-from-the" src="img/download-from-the-cloud.png" />
                                <div class="text-wrapper-6">Download CV</div>
                            </div>
                        </div>
                        <div class="overlap-wrapper">
                            <div class="overlap"><img class="explore-more" src="img/explore-more.png" /></div>
                        </div>
                        <div class="overlap-2">
                            <div class="rectangle"></div>
                            <img class="my-project" src="img/my-project-1-1-2.png" />
                        </div>
                    </header>
                    <div class="about">
                        <div class="code-typing-amico">
                            <div class="overlap-3">
                                <img class="freepik-floor-inject" src="img/freepik-floor-inject-26.png" />
                                <img class="freepik-shadows" src="img/freepik-shadows-inject-26.png" />
                                <img class="freepik-plant-inject" src="img/freepik-plant-inject-26.png" />
                                <img class="freepik-pictures" src="img/freepik-pictures-inject-26.png" />
                                <img class="freepik-character" src="img/freepik-character-inject-26.png" />
                                <div class="freepik-screen">
                                    <div class="overlap-group-2">
                                        <img class="vector" src="img/vector-17.svg" />
                                        <img class="vector" src="img/vector-9.svg" />
                                        <img class="img" src="img/image.svg" />
                                        <img class="img" src="img/vector-41.svg" />
                                        <img class="vector-2" src="img/vector-3.svg" />
                                        <img class="img" src="img/vector-32.svg" />
                                        <img class="vector-3" src="img/vector-42.svg" />
                                        <img class="vector-4" src="img/vector-44.svg" />
                                        <img class="vector-5" src="img/vector-16.svg" />
                                        <img class="vector-6" src="img/vector-26.svg" />
                                        <img class="vector-7" src="img/vector-21.svg" />
                                        <img class="vector-8" src="img/vector-15.svg" />
                                        <img class="vector-9" src="img/vector-4.svg" />
                                        <img class="vector-10" src="img/vector-24.svg" />
                                        <img class="vector-11" src="img/vector-43.svg" />
                                        <img class="vector-12" src="img/vector-34.svg" />
                                        <img class="vector-13" src="img/vector-29.svg" />
                                        <img class="vector-14" src="img/vector-13.svg" />
                                        <img class="vector-15" src="img/vector.svg" />
                                        <img class="vector-16" src="img/vector-10.svg" />
                                        <img class="vector-17" src="img/vector-22.svg" />
                                        <img class="vector-18" src="img/vector-40.svg" />
                                        <img class="vector-19" src="img/vector-37.svg" />
                                        <img class="vector-20" src="img/vector-18.svg" />
                                        <img class="vector-21" src="img/vector-23.svg" />
                                        <img class="vector-22" src="img/vector-8.svg" />
                                        <img class="vector-23" src="img/vector-7.svg" />
                                        <img class="vector-24" src="img/vector-39.svg" />
                                        <img class="vector-25" src="img/vector-25.svg" />
                                        <img class="vector-26" src="img/vector-12.svg" />
                                        <img class="vector-27" src="img/vector-45.svg" />
                                        <img class="vector-28" src="img/vector-33.svg" />
                                        <img class="vector-29" src="img/vector-19.svg" />
                                        <img class="vector-30" src="img/vector-38.svg" />
                                        <img class="vector-31" src="img/vector-27.svg" />
                                        <img class="vector-32" src="img/vector-2.svg" />
                                        <img class="vector-33" src="img/vector-28.svg" />
                                        <img class="vector-34" src="img/vector-5.svg" />
                                        <img class="vector-35" src="img/vector-31.svg" />
                                        <img class="vector-36" src="img/vector-30.svg" />
                                        <img class="vector-37" src="img/vector-36.svg" />
                                        <img class="vector-38" src="img/vector-11.svg" />
                                        <div class="text-wrapper-7">/</div>
                                        <img class="vector-39" src="img/vector-35.svg" />
                                        <img class="vector-40" src="img/vector-6.svg" />
                                        <img class="vector-41" src="img/vector-20.svg" />
                                        <img class="vector-42" src="img/vector-14.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-2">
                            <div class="text-wrapper-8">About</div>
                            <p class="text-wrapper-9">
                                Lorem ipsum dolor sit amet consectetur. Iaculis diam augue a adipiscing non aliquet. Leo semper lacus
                                fringilla consectetur cras ac ullamcorper ut. Risus nunc diam accumsan feugiat. Tristique diam
                                consectetur aliquam vitae suspendisse vel leo. Nec quisque senectus laoreet id pulvinar id vulputate.
                                Montes consectetur diam non aliquam nunc maecenas non. Molestie pretium amet id dictum vitae nam vel
                                sit. Rhoncus massa velit ut amet massa morbi eget.
                            </p>
                            <div class="text-wrapper-10">About Me?</div>
                        </div>
                    </div>
                    <div class="skills">
                        <div class="text-wrapper-11">Skills</div>
                        <p class="text-wrapper-12">What I am capable of?</p>
                        <div class="frame-2">
                            <img class="logo-html" src="img/logo-html-1.png" />
                            <img class="CSS-logo" src="img/CSS-logo-1.png" />
                            <img class="bootstrap-logo" src="img/bootstrap-logo-1.png" />
                            <img class="tailwindcss-logo" src="img/tailwindcss-logo-1.png" />
                            <img class="php" src="img/php-png31-1.png" />
                            <img class="laravel-logo" src="img/laravel-logo-1.png" />
                        </div>
                    </div>
                    <div class="projects">
                        <div class="overlap-4">
                            <div class="text-wrapper-13">Projects</div>
                            <div class="text-wrapper-14">What I have made?</div>
                            <div class="frame-3">
                                <div class="div-wrapper">
                                    <div class="overlap-group-3">
                                        <div class="rectangle-2"></div>
                                        <img class="image" src="img/image-1-5.png" />
                                        <div class="text-wrapper-15">Portfolio Website Design</div>
                                        <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                                        <div class="text-wrapper-17">Figma</div>
                                    </div>
                                </div>
                                <div class="group-3">
                                    <div class="overlap-group-3">
                                        <div class="rectangle-2"></div>
                                        <img class="image" src="img/image-1-2.png" />
                                        <div class="text-wrapper-15">LitterCycle Exchange</div>
                                        <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                                        <div class="text-wrapper-18">Figma</div>
                                        <div class="text-wrapper-19">Live View</div>
                                        <div class="text-wrapper-20">Github</div>
                                    </div>
                                </div>
                                <div class="group-4">
                                    <div class="overlap-group-3">
                                        <div class="rectangle-2"></div>
                                        <img class="image" src="img/image.png" />
                                        <div class="text-wrapper-15">Edubix</div>
                                        <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                                        <div class="text-wrapper-19">Live View</div>
                                        <div class="text-wrapper-20">Github</div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-4">
                                <div class="div-wrapper">
                                    <div class="overlap-group-3">
                                        <div class="rectangle-2"></div>
                                        <img class="image" src="img/image-1-3.png" />
                                        <div class="text-wrapper-15">PPDB SMK Telesandi Bekasi</div>
                                        <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                                        <div class="text-wrapper-17">Live view</div>
                                    </div>
                                </div>
                                <div class="div-wrapper">
                                    <div class="overlap-group-3">
                                        <div class="rectangle-2"></div>
                                        <img class="image" src="img/image-1-4.png" />
                                        <div class="text-wrapper-15">PPDB SMK Telesandi Bekasi</div>
                                        <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                                        <div class="text-wrapper-17">Live view</div>
                                    </div>
                                </div>
                                <div class="group-5">
                                    <div class="overlap-group-3">
                                        <div class="rectangle-2"></div>
                                        <img class="image" src="img/image-1.png" />
                                        <div class="text-wrapper-15">PPDB SMK Telesandi Bekasi</div>
                                        <p class="text-wrapper-16">Lorem ipsum dolor sit amet consectetur.</p>
                                        <div class="text-wrapper-17">Live view</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="text-wrapper-21">rizfanher@gmail.com</div>
                    <img class="linked-in" src="img/linked-in.png" />
                    <img class="git-hub" src="img/git-hub.png" />
                    <img class="instagram" src="img/instagram.png" />
                    <p class="copyright">Copyright © 2023. Develop &amp; Designed by Rizfan Herlaya</p>
                    <div class="text-wrapper-22">Get in touch</div>
                    <div class="text-wrapper-23">Contacts</div>
                </footer>
            </div>
        </div>
    </body>
</html>
