<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="Requests-R.cshtml.css">
  </head>
  <body>
  @await Html.PartialAsync("NavBar");

<!-- For more settings use the AutoHTML plugin tab ... -->
<div class="desktop-1">
  <div class="footer">
    <div class="footer-bg">
    </div>
    <div class="copyright-2024-grape-aid">
      Copyright © 2024, GrapeAid.
    </div>
    <div class="ending-hunger-nourishing-communities">
      Ending hunger, nourishing communities.
    </div>
    <div class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore">
      <span>
        <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span">Based in<br />
        </span>
        <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2">
          <br />9 Woodlands Ave 9, Singapore 738964<br />Singapore, Singapore</span>
      </span>
    </div>
    <div class="contact-us-instagram-linkedin">
      <span>
        <span class="contact-us-instagram-linkedin-span">Contact us<br />
        </span>
        <span class="contact-us-instagram-linkedin-span2">
          <br />
        </span>
        <span class="contact-us-instagram-linkedin-span3">Instagram<br />Linkedin<br />
        </span>
      </span>
    </div>
  </div>
  <div class="food-request-bg">
  </div>
  <div class="text-box">
    <div class="rectangle-10">
    </div>
    <div class="type-in-food-request-here">
      Type in food request here...
    </div>
  </div>
  <div class="submit">
    <div class="rectangle-102">
    </div>
    <div class="submit2">
      Submit
    </div>
  </div>
  <div class="text">
    <div class="food-requests">
      Food Requests
    </div>
    <div class="nourishment-for-all-sustainably-shared-let-us-fill-your-plate-with-love-and-compassion">
      Nourishment for all, sustainably shared. Let us fill your plate with love and compassion.
    </div>
  </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>

