.desktop-1, .desktop-1 * {
    margin: auto;
    box-sizing: border-box;
    }
.desktop-1 {
   background: #ffffff;
    width: 1440px;
    height: 1995px;
    position: relative;
    overflow: hidden;
   }

.footer {
   position: absolute;
    inset: 0;
   }

.footer-bg {
   background: rgba(140, 82, 255, 0.62);
    width: 1440px;
    height: 417px;
    position: absolute;
    left: 0px;
   top: 1578px;
   }

.copyright-2024-grape-aid {
   color: #000000;
    text-align: center;
    font: 400 24px 'Sora', sans-serif;
    position: absolute;
    left: 431px;
   top: 1938px;
    width: 579px;
    height: 19.79px;
   }

.ending-hunger-nourishing-communities {
   color: #ffffff;
    text-align: center;
    font: 600 36px 'Sora', sans-serif;
    position: absolute;
    left: 347px;
   top: 1644px;
   }

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore {
   color: #000000;
    text-align: center;
    position: absolute;
    left: 166px;
   top: 1741px;
   }

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span {
   
           color: #000000;
   
           font: 300 32px 'Sora', sans-serif;
   
           
           
       }

.based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2 {
   
           color: #000000;
   
           font: 300 24px 'Sora', sans-serif;
   
           
           
       }

.contact-us-instagram-linkedin {
   color: #000000;
    text-align: center;
    position: absolute;
    left: 940px;
   top: 1741px;
   }

.contact-us-instagram-linkedin-span {
   
           color: #000000;
   
           font: 300 32px 'Sora', sans-serif;
   
           
           
       }

.contact-us-instagram-linkedin-span2 {
   
           color: #000000;
   
           font: 300 24px 'Sora', sans-serif;
   
           
           
       }

.contact-us-instagram-linkedin-span3 {
   
           color: #000000;
   
           font: 300 24px 'Sora', sans-serif;
   
           
           text-decoration: underline;
   
       }

.food-request-bg {
   background: rgba(140, 82, 255, 0.62);
    border-radius: 45px;
    width: 1654px;
    height: 525px;
    position: absolute;
    left: -107px;
   top: 111px;
   }

.text-box {
   position: absolute;
    inset: 0;
   }

.rectangle-10 {
   background: #ffffff;
    border-radius: 17px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 317.02px;
    height: 42px;
    position: absolute;
    left: calc(50% - 238.43px);
   top: 462px;
   }

.type-in-food-request-here {
   color: #676767;
    text-align: center;
    font: 300 20px/35px 'Inter', sans-serif;
    position: absolute;
    left: calc(50% - 264px);
   top: calc(50% - 529.5px);
    width: 369px;
    height: 31px;
    display: flex;
   align-items: center;
   justify-content: center}

.submit {
   position: absolute;
    inset: 0;
   }

.rectangle-102 {
   background: #0ec26b;
    border-radius: 17px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 159.8px;
    height: 42px;
    position: absolute;
    left: calc(50% - -91.89px);
   top: 462px;
   }

.submit2 {
   color: #ffffff;
    text-align: center;
    font: 600 20px/35px 'Inter', sans-serif;
    position: absolute;
    left: calc(50% - -79px);
   top: calc(50% - 529.5px);
    width: 186px;
    height: 31px;
    display: flex;
   align-items: center;
   justify-content: center}

.text {
   position: absolute;
    inset: 0;
   }

.food-requests {
   color: #ffffff;
    text-align: center;
    font: 700 48px/59.5px 'Inter', sans-serif;
    position: absolute;
    left: 257px;
   top: calc(50% - 809.5px);
    width: 926px;
    height: 77px;
    display: flex;
   align-items: center;
   justify-content: center}

.nourishment-for-all-sustainably-shared-let-us-fill-your-plate-with-love-and-compassion {
   color: #000000;
    text-align: center;
    font: 300 32px/44px 'Inter', sans-serif;
    position: absolute;
    left: 407px;
   top: 286px;
    width: 626px;
    height: 148px;
   }

