<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="Request.cshtml.css">
    
    <title>Food Donation</title>
</head>
<body>
    @await Html.PartialAsync("NavBar");
    <div class="container">

        <div class="mt-3">
            <h2>Subscribe</h2>
        </div>

        <form method="post" action="~/Home/Request">

            <div class="col-md-6 mb-3 form-floating">
                <input type="text" class="form-control" id="name" name="Name"
                       placeholder="Your name" />
                <label for="name">Name</label>
            </div>

            <div class="col-md-6 mb-3 form-floating">
                <input type="email" class="form-control" id="email" name="Email"
                       placeholder="Your email" />
                <label for="email">Email</label>
            </div>

            <div class="col-md-6 mb-3 form-floating">
                <div class="form-control border-0 ">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input"
                               id="male" name="Gender" value="Male" />
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input"
                               id="female" name="Gender" value="Female" />
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
                <label>Gender</label>
            </div>

            <div class="col-md-6 mb-3 form-floating">
                <div class="form-control border-0 ">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input"
                               id="recipe" name="Recipe" value="Recipe" />
                        <label class="form-check-label" for="recipe">Recipes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input"
                               id="news" name="News" value="News" />
                        <label class="form-check-label" for="news">News</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input"
                               id="offers" name="Offers" value="Offers" />
                        <label class="form-check-label" for="offers">Offers</label>
                    </div>
                </div>
                <label>Interests</label>
            </div>

            <div class="col-md-6 mb-3 form-floating">
                <select class="form-select" id="refer" name="Refer">
                    <option value="">-- Select One --</option>
                    <option value="Friend">Friend</option>
                    <option value="Magazine">Magazine</option>
                    <option value="Newspaper">Newspaper</option>
                    <option value="Radio">Radio</option>
                </select>
                <label for="email">How did you hear about us?</label>
            </div>

            <div class="col-md-6 mb-3 form-floating">
                <textarea class="form-control" id="comments" name="Comments"
                          style="height: 100px" placeholder="Add comments here"></textarea>
                <label for="comments">Additional comments</label>
            </div>

            <input type="submit" class="mb-3 btn btn-primary" value="Subscribe" />


            <a class="row mx-0" href="~/Home/Index">Back to Main</a>

        </form>
    </div>
</body>
</html>
