<!DOCTYPE html>
@model Signup
<html>
  <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="SignUp.cshtml.css">
  </head>
  <title>Sign Up</title>
  <body>
  @await Html.PartialAsync("NavBar")

  <!-- Header -->
  <div class="sign-up">
    <div class="already-have-an-account">
      Already have an account?
    </div>
    <div class="heading">
      <div class="welcome-to-grape-aid">
        Welcome to GrapeAid.
      </div>
      <div class="get-started-with-us">
        Get started with us.
      </div>
    </div>
    <!-- Footer -->
  <div class="form">
    <div class="footer">
      <div class="footer-bg">
      </div>
      <div class="copyright-2024-grape-aid">
        Copyright © 2024, GrapeAid.
      </div>
      <div class="ending-hunger-nourishing-communities">
        Ending hunger, nourishing communities.
      </div>
      <div class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore">
        <span>
          <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span">Based in<br />
          </span>
          <span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2">
            <br />9 Woodlands Ave 9, Singapore 738964<br />Singapore, Singapore</span>
        </span>
      </div>
      <div class="contact-us-instagram-linkedin">
        <span>
          <span class="contact-us-instagram-linkedin-span">Contact us<br />
          </span>
          <span class="contact-us-instagram-linkedin-span2">
            <br />
          </span>
          <div class="contact-us-instagram-linkedin-span3">
            <a href="https://www.youtube.com">Instagram</a><br />
            <a href="https://www.linkedin.com/in/chloe-sacil-419844210/">Linkedin</a>
          </div>
        </span>
      </div>
    </div>

    <!-- Form (Sign Up) -->
    <form class="form" method="post" asp-controller="Home" asp-action="Signup">
      
      <div class="first-name form-control">
        <input class="first-name" style="z-index:1" type="first-name" placeholder="First Name" asp-for="FirstName"> <!-- First Name Input -->
        <span asp-validation-for="FirstName"></span> <!-- First Name Validation Message -->
      </div>

      <div class="email-address form-control">
        <input class="email-address" style="z-index:1" type="email" placeholder="Email Address" asp-for="Email"> <!-- Email Input -->
        <span asp-validation-for="Email"></span> <!-- Email Validation Message -->
      </div>

      <div class="password form-control">
        <input class="password" style="z-index:1" type="password" placeholder="Password" asp-for="Password"> <!-- Password Input -->
        <span asp-validation-for="Password"></span> <!-- Password Validation Message -->
      </div>

      <div class="repeat-password form-control">
        <input class="repeat-password" style="z-index:1" type="password" placeholder="Repeat Password" asp-for="Repeat"> <!-- Password Repeat Input -->
        <span asp-validation-for="Repeat"></span> <!-- Password Repeat Validation Message -->
      </div>

      <div class="last-name form-control">
        <input class="last-name" style="z-index:1" type="last-name" placeholder="Last Name" asp-for="LastName"> <!-- Last Name Input -->
        <span asp-validation-for="LastName"></span> <!-- Last Name Validation Message -->
      </div>
      
 <!--  <div class="radio-group">
      <label>
        <input class="donator" type="radio" value="donator" name="radioButton" asp-for="UserRole">Donator
        <span asp-validation-for="UserRole"></span>
      </label>
      <label>
        <input class="requestor" type="radio" value="requestor" name="radioButton" asp-for="UserRole">Requestor
        <span asp-validation-for="UserRole"></span>
      </label>

    </div>-->

    <div class="sign-up-button">
      <button class="sign-up2" style="z-index:1" type="submit">Sign Up</button>
    </div>

    </form>
  </div>
  
  <div class="log-in-button">
    <div class="button2">
    </div>
    <div class="log-in">
      <a href="/Home/Login">Log In</a>
    </div>
  </div>
  <div class="line-1">
  </div>
  <div class="signup-img-bg">
  </div>
  <div class="rectangle-8">
    <div><img class="signup-img" src="~/images/signup_img.jpg" /></div>
  </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>

