<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="SignUp.cshtml.css">
  </head>
  <body>
  @await Html.PartialAsync("NavBar");

<!-- For more settings use the AutoHTML plugin tab ... --> 
 <div class="sign-up" >
  	<div class="already-have-an-account" >
Already have an account? 
</div>
  	<div class="heading" >
    		<div class="welcome-to-grape-aid" >
Welcome to GrapeAid. 
</div>
    		<div class="get-started-with-us" >
Get started with us.  
</div>
  	</div>
  	<div class="form" >
    		<div class="footer" >
      			<div class="footer-bg" >
      			</div>
      			<div class="copyright-2024-grape-aid" >
Copyright © 2024, GrapeAid. 
</div>
      			<div class="ending-hunger-nourishing-communities" >
Ending hunger, nourishing communities. 
</div>
      			<div class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore" >
        				<span>
          					<span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span">Based in<br/>
        				</span>
        				<span class="based-in-9-woodlands-ave-9-singapore-738964-singapore-singapore-span2">
          					<br/>9 Woodlands Ave 9, Singapore 738964<br/>Singapore, Singapore</span>
        				</span>
      			</div>
      			<div class="contact-us-instagram-linkedin" >
        				<span>
          					<span class="contact-us-instagram-linkedin-span">Contact us<br/>
        				</span>
        				<span class="contact-us-instagram-linkedin-span2">
          					<br/>
        				</span>
      			<div class="contact-us-instagram-linkedin-span3">
				<a href="https://www.youtube.com">Instagram</a><br/>
				<a href="https://www.linkedin.com/in/chloe-sacil-419844210/">Linkedin</a>
    		</div>
    		</span>
  	</div>
</div>
<div class="form">
				<input class="first-name" type="first-name" placeholder="First Name">

</input>
				<input class="email-address" type="email" placeholder="Email Address">

</input>
				<input class="password" type="password" placeholder="Password">

</input>
				<input class="repeat-password" type="password" placeholder="Repeat Password">

</input>
				<input class="last-name" type="last-name" placeholder="Last Name">

</input>
<div class="first-name-rect" >
</div>
<div class="last-name-rect" >
</div>
<div class="email-rect" >
</div>
<div class="pass-rect" >
</div>
<div class="r-pass-rect" >
</div>
</div>
</div>
<div class="radio-group">
<label>
	<input type="radio"value="donator" name="donator">Donator
	<span></span>
	</label>
	<label>
			<input type="radio" class="requestor" value="requestor" name="requestor">Requestor
	<span></span>
	</label>
</div>
<div class="sign-up-button" >
  	<div class="button" >
  	</div>
  	<div class="sign-up2" >
Sign Up 
</div>
</div>
<div class="log-in-button" >
  	<div class="button2" >
  	</div>
  	<div class="log-in" >
<a href="/Home/Login">Log In</a>
</div>
</div>
<div class="line-1" >
</div>
<div class="signup-img-bg" >
</div>
<div class="rectangle-8" >
	<div><img class="signup-img" src="~/images/signup_img.jpg" /></div>
</div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>

